.header-icons{
    margin-top: 30px;
    margin-left: 10px;
}

ion-content{
    background-color: aliceblue;
}


.title{

    font-size: 22px;
    margin-top: 10px;
    font-family: 'Potta One', cursive;
    text-align: center;

}



.icon{
    margin-right: 15px;
}

.field{
    margin-top: 30px;
    border-radius: 5%;
}





.iniciar{
    margin-top: 40px;
    font-family: 'Hachi Maru Pop', cursive;
}

.label{
    margin-top: 100px;
    color: #7a7a7a77;
    font-size: 12px;
}

