
.header-icons{
    margin-top: 3px;
    margin-left: 3px;
}

.info{
    position: absolute;
    top: 40%;
    width: auto;
    max-width: 100%;
    min-width: 100%;
    margin-top: -50px;
    align-content: center;
    align-items: center;
}

.call-btn{
    margin-top: 50px;
}