<ion-header>
</ion-header>

<ion-content>
  
  <div class="header-icons">
    <ion-icon name="arrow-back-outline" size="large" style="margin-left: 4px; margin-top: 4px;" (click)="goHome();"></ion-icon>
  </div>

  

    
    <center>

      <div class="info">

        <ion-label>Puedes Llamarnos Al</ion-label>
        <br>
        <strong>30237820</strong>
        <br>
        O
        <br>
  
        <ion-label>Enviarnos un correo a </ion-label>
  
        <br>
        <strong>juanpa.a.l10@gmail.com</strong>

        <br>

        <ion-button class="call-btn" (click)="llamar();">
          <ion-icon name="call-outline"></ion-icon>
          Llamar
        </ion-button>
  
      </div>

      

    </center>

   

     

</ion-content>
