<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  

    
    <center>

      <div class="info">

        <ion-label>Puedes Llamarnos Al</ion-label>
        <br>
        <strong>30237820</strong>
        <br>
        O
        <br>
  
        <ion-label>Enviarnos un correo a </ion-label>
  
        <br>
        <strong>juanpa.a.l10@gmail.com</strong>

        <br>

        <ion-button class="call-btn" (click)="llamar();">
          <ion-icon name="call-outline"></ion-icon>
          Llamar
        </ion-button>
  
      </div>

      

    </center>

   

     

</ion-content>
