<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <div class="inputs">
    <center>

      <ion-item class="field">
        <ion-icon name="mail-outline" class="icon"></ion-icon>
        <ion-input placeholder="Ingresar Correo"></ion-input>
      </ion-item>      
      
    </center>
  </div>
  


  <div class="iniciar">
    <ion-button expand="block" color="success"> Recuperar </ion-button>
  </div>


</ion-content>
