
ion-content{
    background-color: aliceblue;
}


.logo-container{
    width: 100%;
}

.logo{
    
    width: 40%;
    height: auto;
    margin-top: 15%;
}

.title{

    font-size: 22px;
    margin-top: 10px;
    font-family: 'Potta One', cursive;
    text-align: center;

}

.slogan{

    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
    margin-top: 10%;
}

.icon{
    margin-right: 15px;
}

.inputs{
    margin-top: 28%;
}

.field{
    margin-top: 30px;
    border-radius: 5%;
}

.registrarse{
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

.registro{
    color: #026fec;
}

.iniciar{
    font-family: 'Hachi Maru Pop', cursive;
}

.forgot{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}


