
.body{
    padding: 10px;
}

.icon{
    margin-right: 5px;
    font-size: 20px;
}

.titulo{
    font-family: 'Comfortaa', cursive;
    font-size: 16px ;
}

.entrada{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}