

<ion-content [fullscreen]="true">

  <div class="Container">
    

    
      <ion-grid >
        <ion-row class="SubContainer">
          <ion-img #logo class="logo" src="../../assets/images/cajup-logo.png"></ion-img>
        </ion-row>
        <ion-row class="SubContainer">
          <ion-img #nombre class="nombre" src="../../assets/images/cajub-nombre.png"></ion-img>
        </ion-row>  
      </ion-grid>
    

  </div>
  
<!--
  <center>
 

  
  

  
    
      <div class="logo-container">
        <ion-img #logo class="logo" src="../../assets/images/cajub-simple.png"></ion-img>
      </div>

      <div class="nombre-container">
        <ion-img #nombre class="nombre" src="../../assets/images/cajub-nombre.png"></ion-img>
      </div>

      <div class="dot-container">
        <ion-img #dot class="dot" src="../../assets/images/cajub-dot.png"></ion-img>
      </div>
      
    </center>-->

</ion-content>
