






.logo{
    width: 50%;
    height: 50%;
}


.nombre{
    width: 40%;
    height: 40%;
    margin-top: 10%;
}


.SubContainer{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    width: 100%;
}


.Container{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100%;
}