<ion-content [fullscreen]="full">

  <div #map id="map">  </div>

  
    <center>
    <ion-title class="header" [ngStyle]="{'color':icolor}">{{titulo}}</ion-title>
    </center>
    <!--
      <ion-icon [ngStyle]="{'color':icolor}" slot="start" size="large" name="arrow-back-outline" (click)="goHome();"></ion-icon>
      
      <ion-button color="success" slot="end" *ngIf="markerOn" (click)="guardar();"><ion-icon name="save-outline"  ></ion-icon></ion-button>
    -->
    <center>
      <div class="map-options">
        <ion-button size="small" style="opacity: 0.8;" color="light" (click)="askToTurnOnGPS();"><ion-icon slot="start" name="locate"></ion-icon>Mi Ubicación</ion-button>
      </div>
    </center>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button *ngIf="markerOn" [style.opacity]="opacidadSuccess" color="success" (click)="guardar();">
        <ion-icon name="checkmark-done"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="start" slot="fixed" (click)="goBack();">
      <ion-fab-button color="black">
        <ion-icon [ngStyle]="{'color':icolor}" name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    

</ion-content>
