<ion-header>
  <ion-toolbar class="ion-color" [style.background-color]="tcolor">
    <ion-icon [ngStyle]="{'color':icolor}" slot="start" size="large" name="arrow-back-outline" (click)="goHome();"></ion-icon>
    <ion-title [ngStyle]="{'color':icolor}">Tú Ubicación</ion-title>
    <ion-button color="success" slot="end" *ngIf="markerOn" (click)="guardar();"><ion-icon name="save-outline"  ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="full">

  <div #map id="map">  </div>

    <center>
      <div class="map-options">
        <ion-button size="small" color="light" (click)="myLocation();"><ion-icon slot="start" name="compass-outline"></ion-icon>Mi Ubicación</ion-button>
      </div>
    </center>

</ion-content>
