.header-icon{
    height: 30px;
    width: 30px;
}

.mis-ubicaciones{
    margin-top: 50px;
}

.ubicacion-container{
    margin-bottom: 20px;
}

.ubicacion-icono{
    height: 35px;
    width: 35px;
}

.eliminar-icono{
    height: 20px;
    width: 20px;
}

.titulo-ubicacion{
    font-size: 16px;
}

.descripcion-ubicacion{
    font-size: 12px;
    color: rgb(87, 87, 87);
    margin-top: 5px;
}

.btn-icon{
    margin-right: 10px;
}

.nueva-ubicacion{
    position: fixed;
    bottom: 10px;
    left: 20%;
    right: 20%;
}